In [3]:
import requests
import pandas as pd
import json
from pymongo import MongoClient

In [4]:
url = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativaMercadoMensais?$top=1000&$format=json&$select=Indicador,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
selic = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoSelic?$top=1000&$format=json&$select=Indicador,Data,Reuniao,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
trimestral = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoTrimestrais?$top=1000&$format=json&$select=Indicador,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
anual = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?$top=1000&$format=json&$select=Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
cliente = MongoClient("mongodb+srv://sauloadonesg_db_user:sHmCCaiuDfgoqPRN@cluster0.gfafwiq.mongodb.net/")
db = cliente["sauloadonesg_db"]

In [5]:
def requisicao_api(url1, url2, url3, url4):
    resposta = requests.get(url1)
    resposta2 = requests.get(url2)
    resposta3 = requests.get(url3)
    resposta4 = requests.get(url4)

    if(resposta.status_code == 200 and resposta2.status_code == 200 and resposta3.status_code == 200 and resposta4.status_code == 200):
        dados = resposta.json()
        dados2 = resposta2.json()
        dados3 = resposta3.json()
        dados4 = resposta4.json()
        with open('resultado.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados, arquivo, ensure_ascii=False, indent=4)
        with open('resultadoselic.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados2, arquivo, ensure_ascii=False, indent=4)
        with open('resultadotrimestral.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados3, arquivo, ensure_ascii=False, indent=4)
        with open('resultadoanual.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados4, arquivo, ensure_ascii=False, indent=4)

In [6]:
requisicao_api(url, selic, trimestral, anual)

In [7]:
jsondata = pd.read_json('resultado.json')

jsondata2 = pd.read_json('resultadoselic.json')
jsondata3 = pd.read_json("resultadotrimestral.json")
jsondata4 = pd.read_json("resultadoanual.json")

In [8]:
jsondata
jsondata2
jsondata3
jsondata4

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
...,...,...
995,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
996,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
997,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
998,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
999,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."

In [9]:
data = jsondata['value']
dataTri = jsondata3['value']
dataAnual = jsondata4['value']
dataSelic = jsondata2['value']

In [10]:
dados_df = pd.json_normalize(data)
dados_tri_df = pd.json_normalize(dataTri)
dados_anual_df = pd.json_normalize(dataAnual)
dados_selic_df = pd.json_normalize(dataSelic)

In [11]:
dados_df.head()
dados_tri_df.head()
dados_anual_df.head()
dados_selic_df.head()

,Indicador,Data,Reuniao,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,Selic,2025-09-19,R6/2027,10.6829,10.50,0.8818,9.0,12.5,41,1
1,Selic,2025-09-19,R6/2027,10.6829,10.50,0.8818,9.0,12.5,41,0
2,Selic,2025-09-19,R5/2027,10.7724,10.50,0.9411,9.0,13.0,67,1
3,Selic,2025-09-19,R5/2027,10.8532,10.75,0.9799,9.0,13.0,110,0
4,Selic,2025-09-19,R4/2027,11.0037,11.00,0.9024,9.0,13.0,69,1

In [12]:
jsondata = pd.read_json('resultado.json')
jsondata_tri = pd.read_json('resultadotrimestral.json')
jsondata_anual = pd.read_json('resultadoanual.json')
jsondata_selic = pd.read_json('resultadoselic.json')

In [13]:
jsondata
jsondata_tri
jsondata_selic
jsondata_anual

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
...,...,...
995,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
996,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
997,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
998,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
999,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."

In [14]:
dados_df.to_csv("dados.csv", index=False, encoding='utf-8')
dados_tri_df.to_csv("dadosTri.csv", index=False, encoding='utf-8')
dados_anual_df.to_csv("dadosAnual.csv", index=False, encoding='utf-8')
dados_selic_df.to_csv("dadosSelic.csv", index=False, encoding='utf-8')

In [15]:
print("Contagem de Valores nulos")
print(dados_df.isnull().sum())
print(dados_selic_df.isnull().sum())
print(dados_anual_df.isnull().sum())
print(dados_tri_df.isnull().sum())

print("Tipos de dados")
print(dados_df.dtypes)
print(dados_tri_df.dtypes)
print(dados_selic_df.dtypes)
print(dados_anual_df.dtypes)

Contagem de Valores nulos
Indicador             0
Data                  0
DataReferencia        0
Media                 0
Mediana               0
DesvioPadrao          0
Minimo                0
Maximo                0
numeroRespondentes    0
baseCalculo           0
dtype: int64
Indicador             0
Data                  0
Reuniao               0
Media                 0
Mediana               0
DesvioPadrao          0
Minimo                0
Maximo                0
numeroRespondentes    0
baseCalculo           0
dtype: int64
Indicador                0
IndicadorDetalhe         0
Data                     0
DataReferencia           0
Media                    0
Mediana                  0
DesvioPadrao             0
Minimo                   0
Maximo                   0
numeroRespondentes    1000
baseCalculo              0
dtype: int64
Indicador             0
Data                  0
DataReferencia        0
Media                 0
Mediana               0
DesvioPadrao          0
Minimo                0
Maximo                0
numeroRespondentes    0
baseCalculo           0
dtype: int64
Tipos de dados
Indicador              object
Data                   object
DataReferencia         object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes      int64
baseCalculo             int64
dtype: object
Indicador              object
Data                   object
DataReferencia         object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes      int64
baseCalculo             int64
dtype: object
Indicador              object
Data                   object
Reuniao                object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes      int64
baseCalculo             int64
dtype: object
Indicador              object
IndicadorDetalhe       object
Data                   object
DataReferencia         object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes     object
baseCalculo             int64
dtype: object

In [16]:
dados_df = dados_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )
dados_anual_df = dados_anual_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )
dados_tri_df = dados_tri_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )
dados_selic_df = dados_selic_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )

In [17]:
dados_df

,Indicador,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,IPCA,2025-09-19,09/2027,0.2743,0.260,0.0996,0.0659,0.6534,66,1
1,IPCA,2025-09-19,09/2027,0.2770,0.265,0.0968,0.0659,0.6534,76,0
2,IPCA Livres,2025-09-19,09/2027,0.2542,0.255,0.0923,0.0320,0.5000,46,1
3,IPCA Livres,2025-09-19,09/2027,0.2518,0.250,0.0873,0.0320,0.5000,55,0
4,IPCA Serviços,2025-09-19,09/2027,0.3716,0.380,0.1062,0.1300,0.6800,46,1
...,...,...,...,...,...,...,...,...,...,...
995,Taxa de desocupação,2025-09-17,11/2026,6.3537,6.400,0.6261,5.0000,7.7683,61,0
996,IPCA Livres,2025-09-17,11/2026,0.3487,0.340,0.1027,0.1600,0.8400,70,1
997,IPCA Livres,2025-09-17,11/2026,0.3553,0.340,0.0983,0.1600,0.8400,87,0
998,IPCA Serviços,2025-09-17,11/2026,0.4009,0.370,0.1228,0.1200,0.7700,68,1
999,IPCA Serviços,2025-09-17,11/2026,0.3943,0.380,0.1173,0.1200,0.7700,86,0

In [18]:
dados_anual_df

,Indicador,IndicadorDetalhe,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,Balança comercial,Exportações,2001-11-06,2001,58.54,58.30,1.21,55.4,64.15,None,0
1,Balança comercial,Exportações,2001-11-06,2002,61.17,61.00,2.13,56.6,66.00,None,0
2,Balança comercial,Exportações,2001-11-06,2003,66.82,67.70,3.26,62.1,71.70,None,0
3,Balança comercial,Exportações,2001-11-06,2004,67.28,67.28,2.23,65.7,68.85,None,0
4,Balança comercial,Exportações,2001-11-06,2005,69.90,69.90,0.00,69.9,69.90,None,0
...,...,...,...,...,...,...,...,...,...,...,...
995,Balança comercial,Exportações,2002-08-21,2003,60.19,59.96,3.01,55.4,71.50,None,0
996,Balança comercial,Exportações,2002-08-21,2004,65.91,65.20,4.90,56.7,80.50,None,0
997,Balança comercial,Exportações,2002-08-21,2005,72.44,72.29,6.81,57.9,90.80,None,0
998,Balança comercial,Exportações,2002-08-21,2006,77.73,79.48,8.48,59.0,96.00,None,0
999,Balança comercial,Exportações,2002-08-22,2002,55.96,55.05,2.44,52.5,64.90,None,0

In [19]:
dados_tri_df

,Indicador,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,IPCA,2021-09-14,3/2021,2.6803,2.7549,0.2296,2.1201,2.9891,117,1
1,IPCA,2021-09-14,4/2021,1.4356,1.4418,0.2070,0.8120,2.0133,116,1
2,IPCA,2021-09-14,1/2022,1.2195,1.1645,0.2350,0.6210,1.8511,107,1
3,IPCA,2021-09-14,2/2022,0.7806,0.8021,0.2521,0.1753,1.3558,105,1
4,IPCA,2021-09-14,3/2022,0.8264,0.8122,0.2072,0.1488,1.4775,104,1
...,...,...,...,...,...,...,...,...,...,...
995,IPCA,2021-12-14,3/2022,1.0545,1.0424,0.3075,0.2638,2.0227,51,1
996,IPCA,2021-12-14,4/2022,1.3804,1.3964,0.2183,0.9527,1.8715,50,1
997,IPCA,2021-12-14,1/2023,1.0543,1.0486,0.2439,0.5892,1.5899,38,1
998,IPCA,2021-12-14,2/2023,0.6934,0.7015,0.1976,0.2270,1.1745,37,1
999,IPCA,2021-12-14,3/2023,0.6645,0.6012,0.2266,0.1991,1.2918,37,1

In [20]:
dados_selic_df

,Indicador,Data,Reuniao,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,Selic,2025-09-19,R6/2027,10.6829,10.500,0.8818,9.0,12.5,41,1
1,Selic,2025-09-19,R6/2027,10.6829,10.500,0.8818,9.0,12.5,41,0
2,Selic,2025-09-19,R5/2027,10.7724,10.500,0.9411,9.0,13.0,67,1
3,Selic,2025-09-19,R5/2027,10.8532,10.750,0.9799,9.0,13.0,110,0
4,Selic,2025-09-19,R4/2027,11.0037,11.000,0.9024,9.0,13.0,69,1
...,...,...,...,...,...,...,...,...,...,...
995,Selic,2025-08-07,R4/2027,11.2870,11.375,1.0468,9.0,15.0,108,0
996,Selic,2025-08-07,R3/2027,11.3947,11.500,0.8934,10.0,13.5,38,1
997,Selic,2025-08-07,R3/2027,11.5376,11.500,1.0418,9.5,15.0,113,0
998,Selic,2025-08-07,R2/2027,11.6776,11.875,0.8939,10.0,14.0,38,1
999,Selic,2025-08-07,R2/2027,11.7982,12.000,1.0219,9.5,15.0,113,0

In [21]:
dados_df['Data'] = pd.to_datetime(dados_df['Data'])
dados_tri_df['Data'] = pd.to_datetime(dados_tri_df['Data'])
dados_df['Data'] = dados_df['Data'].dt.strftime('%d-%m-%Y')
dados_tri_df['Data'] = dados_tri_df['Data'].dt.strftime('%d-%m-%Y')
dados_df

,Indicador,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,IPCA,19-09-2025,09/2027,0.2743,0.260,0.0996,0.0659,0.6534,66,1
1,IPCA,19-09-2025,09/2027,0.2770,0.265,0.0968,0.0659,0.6534,76,0
2,IPCA Livres,19-09-2025,09/2027,0.2542,0.255,0.0923,0.0320,0.5000,46,1
3,IPCA Livres,19-09-2025,09/2027,0.2518,0.250,0.0873,0.0320,0.5000,55,0
4,IPCA Serviços,19-09-2025,09/2027,0.3716,0.380,0.1062,0.1300,0.6800,46,1
...,...,...,...,...,...,...,...,...,...,...
995,Taxa de desocupação,17-09-2025,11/2026,6.3537,6.400,0.6261,5.0000,7.7683,61,0
996,IPCA Livres,17-09-2025,11/2026,0.3487,0.340,0.1027,0.1600,0.8400,70,1
997,IPCA Livres,17-09-2025,11/2026,0.3553,0.340,0.0983,0.1600,0.8400,87,0
998,IPCA Serviços,17-09-2025,11/2026,0.4009,0.370,0.1228,0.1200,0.7700,68,1
999,IPCA Serviços,17-09-2025,11/2026,0.3943,0.380,0.1173,0.1200,0.7700,86,0

In [22]:
db["expectativas_mensal"].insert_many(dados_df.to_dict(orient="records"))
db["expectativas_anual"].insert_many(dados_anual_df.to_dict(orient="records"))
db["expectativas_trimestral"].insert_many(dados_tri_df.to_dict(orient="records"))
db["selic_diaria"].insert_many(dados_selic_df.to_dict(orient="records"))
print("Inserido.")

Inserido.