In [1]:
import requests
import pandas as pd
import json

In [2]:
url = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativaMercadoMensais?$top=1000&$format=json&$select=Indicador,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
selic = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoSelic?$top=1000&$format=json&$select=Indicador,Data,Reuniao,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
trimestral = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoTrimestrais?$top=1000&$format=json&$select=Indicador,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"
anual = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?$top=1000&$format=json&$select=Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"

In [3]:
def requisicao_api(url1, url2, url3, url4):
    resposta = requests.get(url1)
    resposta2 = requests.get(url2)
    resposta3 = requests.get(url3)
    resposta4 = requests.get(url4)

    if(resposta.status_code == 200 and resposta2.status_code == 200 and resposta3.status_code == 200 and resposta4.status_code == 200):
        dados = resposta.json()
        dados2 = resposta2.json()
        dados3 = resposta3.json()
        dados4 = resposta4.json()
        with open('resultado.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados, arquivo, ensure_ascii=False, indent=4)
        with open('resultadoselic.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados2, arquivo, ensure_ascii=False, indent=4)
        with open('resultadotrimestral.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados3, arquivo, ensure_ascii=False, indent=4)
        with open('resultadoanual.json', 'w', encoding='utf-8') as arquivo:
            json.dump(dados4, arquivo, ensure_ascii=False, indent=4)

In [4]:
requisicao_api(url, selic, trimestral, anual)

In [5]:
jsondata = pd.read_json('resultado.json')

jsondata2 = pd.read_json('resultadoselic.json')
jsondata3 = pd.read_json("resultadotrimestral.json")
jsondata4 = pd.read_json("resultadoanual.json")

In [10]:
jsondata
jsondata2
jsondata3
jsondata4

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
...,...,...
995,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
996,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
997,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
998,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
999,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."

In [11]:
data = jsondata['value']
dataTri = jsondata3['value']
dataAnual = jsondata4['value']
dataSelic = jsondata2['value']

In [12]:
dados_df = pd.json_normalize(data)
dados_tri_df = pd.json_normalize(dataTri)
dados_anual_df = pd.json_normalize(dataAnual)
dados_selic_df = pd.json_normalize(dataSelic)

In [13]:
dados_df.head()
dados_tri_df.head()
dados_anual_df.head()
dados_selic_df.head()

,Indicador,Data,Reuniao,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,Selic,2025-08-29,R5/2027,10.4269,10.5,0.8693,9.0,12.5,26,1
1,Selic,2025-08-29,R5/2027,11.0167,11.0,1.1082,9.0,15.0,96,0
2,Selic,2025-08-29,R4/2027,10.7333,10.5,0.8009,9.5,12.5,30,1
3,Selic,2025-08-29,R4/2027,11.2543,11.0,1.0231,9.0,15.0,115,0
4,Selic,2025-08-29,R3/2027,11.0403,11.0,0.7883,10.0,13.0,31,1

In [14]:
jsondata = pd.read_json('resultado.json')
jsondata_tri = pd.read_json('resultadotrimestral.json')
jsondata_anual = pd.read_json('resultadoanual.json')
jsondata_selic = pd.read_json('resultadoselic.json')

In [15]:
jsondata
jsondata_tri
jsondata_selic
jsondata_anual

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
...,...,...
995,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
996,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
997,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
998,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."
999,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Indicador': 'Balança comercial', 'IndicadorD..."

In [19]:
dados_df.to_csv("dados.csv", index=False, encoding='utf-8')
dados_tri_df.to_csv("dadosTri.csv", index=False, encoding='utf-8')
dados_anual_df.to_csv("dadosAnual.csv", index=False, encoding='utf-8')
dados_selic_df.to_csv("dadosSelic.csv", index=False, encoding='utf-8')

In [20]:
print("Contagem de Valores nulos")
print(dados_df.isnull().sum())
print(dados_selic_df.isnull().sum())
print(dados_anual_df.isnull().sum())
print(dados_tri_df.isnull().sum())

print("Tipos de dados")
print(dados_df.dtypes)
print(dados_tri_df.dtypes)
print(dados_selic_df.dtypes)
print(dados_anual_df.dtypes)

Contagem de Valores nulos
Indicador             0
Data                  0
DataReferencia        0
Media                 0
Mediana               0
DesvioPadrao          0
Minimo                0
Maximo                0
numeroRespondentes    0
baseCalculo           0
dtype: int64
Indicador             0
Data                  0
Reuniao               0
Media                 0
Mediana               0
DesvioPadrao          0
Minimo                0
Maximo                0
numeroRespondentes    0
baseCalculo           0
dtype: int64
Indicador                0
IndicadorDetalhe         0
Data                     0
DataReferencia           0
Media                    0
Mediana                  0
DesvioPadrao             0
Minimo                   0
Maximo                   0
numeroRespondentes    1000
baseCalculo              0
dtype: int64
Indicador             0
Data                  0
DataReferencia        0
Media                 0
Mediana               0
DesvioPadrao          0
Minimo                0
Maximo                0
numeroRespondentes    0
baseCalculo           0
dtype: int64
Tipos de dados
Indicador              object
Data                   object
DataReferencia         object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes      int64
baseCalculo             int64
dtype: object
Indicador              object
Data                   object
DataReferencia         object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes      int64
baseCalculo             int64
dtype: object
Indicador              object
Data                   object
Reuniao                object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes      int64
baseCalculo             int64
dtype: object
Indicador              object
IndicadorDetalhe       object
Data                   object
DataReferencia         object
Media                 float64
Mediana               float64
DesvioPadrao          float64
Minimo                float64
Maximo                float64
numeroRespondentes     object
baseCalculo             int64
dtype: object

In [23]:
dados_df = dados_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )
dados_anual_df = dados_anual_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )
dados_tri_df = dados_tri_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )
dados_selic_df = dados_selic_df.rename(columns={"numeroRespondentes": "numResp", "DataReferencia": "dataRef", "DesvioPadrao": "desvPad"} )

In [26]:
dados_df

,Indicador,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,IPCA,2025-08-29,08/2027,0.1379,0.145,0.1049,-0.2307,0.2900,32,1
1,IPCA,2025-08-29,08/2027,0.1749,0.185,0.1147,-0.2500,0.5300,88,0
2,Câmbio,2025-08-29,08/2027,5.5689,5.580,0.1331,5.2700,5.7100,9,1
3,Câmbio,2025-08-29,08/2027,5.5689,5.580,0.1331,5.2700,5.7100,9,0
4,IPCA Livres,2025-08-29,08/2027,0.0920,0.120,0.1023,-0.1573,0.2100,12,1
...,...,...,...,...,...,...,...,...,...,...
995,Taxa de desocupação,2025-08-27,10/2026,6.3798,6.400,0.6627,5.1000,7.7683,61,0
996,IPCA Livres,2025-08-27,10/2026,0.4246,0.410,0.0862,0.2600,0.6700,70,1
997,IPCA Livres,2025-08-27,10/2026,0.4182,0.405,0.0853,0.2187,0.6700,88,0
998,IPCA Serviços,2025-08-27,10/2026,0.4248,0.420,0.1050,0.1900,0.6600,68,1
999,IPCA Serviços,2025-08-27,10/2026,0.4205,0.420,0.1053,0.1900,0.6600,87,0

In [27]:
dados_anual_df

,Indicador,IndicadorDetalhe,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,Balança comercial,Exportações,2001-11-06,2001,58.54,58.30,1.21,55.4,64.15,None,0
1,Balança comercial,Exportações,2001-11-06,2002,61.17,61.00,2.13,56.6,66.00,None,0
2,Balança comercial,Exportações,2001-11-06,2003,66.82,67.70,3.26,62.1,71.70,None,0
3,Balança comercial,Exportações,2001-11-06,2004,67.28,67.28,2.23,65.7,68.85,None,0
4,Balança comercial,Exportações,2001-11-06,2005,69.90,69.90,0.00,69.9,69.90,None,0
...,...,...,...,...,...,...,...,...,...,...,...
995,Balança comercial,Exportações,2002-08-21,2003,60.19,59.96,3.01,55.4,71.50,None,0
996,Balança comercial,Exportações,2002-08-21,2004,65.91,65.20,4.90,56.7,80.50,None,0
997,Balança comercial,Exportações,2002-08-21,2005,72.44,72.29,6.81,57.9,90.80,None,0
998,Balança comercial,Exportações,2002-08-21,2006,77.73,79.48,8.48,59.0,96.00,None,0
999,Balança comercial,Exportações,2002-08-22,2002,55.96,55.05,2.44,52.5,64.90,None,0

In [28]:
dados_tri_df

,Indicador,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,IPCA,2021-09-14,3/2021,2.6803,2.7549,0.2296,2.1201,2.9891,117,1
1,IPCA,2021-09-14,4/2021,1.4356,1.4418,0.2070,0.8120,2.0133,116,1
2,IPCA,2021-09-14,1/2022,1.2195,1.1645,0.2350,0.6210,1.8511,107,1
3,IPCA,2021-09-14,2/2022,0.7806,0.8021,0.2521,0.1753,1.3558,105,1
4,IPCA,2021-09-14,3/2022,0.8264,0.8122,0.2072,0.1488,1.4775,104,1
...,...,...,...,...,...,...,...,...,...,...
995,IPCA,2021-12-14,3/2022,1.0545,1.0424,0.3075,0.2638,2.0227,51,1
996,IPCA,2021-12-14,4/2022,1.3804,1.3964,0.2183,0.9527,1.8715,50,1
997,IPCA,2021-12-14,1/2023,1.0543,1.0486,0.2439,0.5892,1.5899,38,1
998,IPCA,2021-12-14,2/2023,0.6934,0.7015,0.1976,0.2270,1.1745,37,1
999,IPCA,2021-12-14,3/2023,0.6645,0.6012,0.2266,0.1991,1.2918,37,1

In [29]:
dados_selic_df

,Indicador,Data,Reuniao,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,Selic,2025-08-29,R5/2027,10.4269,10.5,0.8693,9.0,12.50,26,1
1,Selic,2025-08-29,R5/2027,11.0167,11.0,1.1082,9.0,15.00,96,0
2,Selic,2025-08-29,R4/2027,10.7333,10.5,0.8009,9.5,12.50,30,1
3,Selic,2025-08-29,R4/2027,11.2543,11.0,1.0231,9.0,15.00,115,0
4,Selic,2025-08-29,R3/2027,11.0403,11.0,0.7883,10.0,13.00,31,1
...,...,...,...,...,...,...,...,...,...,...
995,Selic,2025-07-17,R3/2027,11.6261,11.5,1.0502,9.5,15.00,113,0
996,Selic,2025-07-17,R2/2027,11.8011,12.0,0.9676,10.0,13.50,44,1
997,Selic,2025-07-17,R2/2027,11.8768,12.0,1.0058,10.0,15.00,114,0
998,Selic,2025-07-17,R1/2027,12.0739,12.0,0.9363,10.0,13.75,44,1
999,Selic,2025-07-17,R1/2027,12.1469,12.0,0.9664,10.0,15.00,114,0

In [ ]:
dados_df['Data'] = pd.to_datetime(dados_df['Data'])
dados_tri_df['Data'] = pd.to_datetime(dados_tri_df['Data'])
dados_df['Data'] = dados_df['Data'].dt.strftime('%d-%m-%Y')
dados_tri_df['Data'] = dados_tri_df['Data'].dt.strftime('%d-%m-%Y')
dados_df

,Indicador,Data,dataRef,Media,Mediana,desvPad,Minimo,Maximo,numResp,baseCalculo
0,IPCA,29-08-2025,08/2027,0.1379,0.145,0.1049,-0.2307,0.2900,32,1
1,IPCA,29-08-2025,08/2027,0.1749,0.185,0.1147,-0.2500,0.5300,88,0
2,Câmbio,29-08-2025,08/2027,5.5689,5.580,0.1331,5.2700,5.7100,9,1
3,Câmbio,29-08-2025,08/2027,5.5689,5.580,0.1331,5.2700,5.7100,9,0
4,IPCA Livres,29-08-2025,08/2027,0.0920,0.120,0.1023,-0.1573,0.2100,12,1
...,...,...,...,...,...,...,...,...,...,...
995,Taxa de desocupação,27-08-2025,10/2026,6.3798,6.400,0.6627,5.1000,7.7683,61,0
996,IPCA Livres,27-08-2025,10/2026,0.4246,0.410,0.0862,0.2600,0.6700,70,1
997,IPCA Livres,27-08-2025,10/2026,0.4182,0.405,0.0853,0.2187,0.6700,88,0
998,IPCA Serviços,27-08-2025,10/2026,0.4248,0.420,0.1050,0.1900,0.6600,68,1
999,IPCA Serviços,27-08-2025,10/2026,0.4205,0.420,0.1053,0.1900,0.6600,87,0